.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: teal;
  font-size: 22px;

  background: url('../../../../static/img/slide0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}