.icon {
  width: 32px;
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px;

  &_bg-size_contain {
    background-size: contain;
  }

  &_menu {
    &_home {
      background-image: url('../static/img/roundMenu/home.svg');
    }
    &_features {
      background-image: url('../static/img/roundMenu/features.svg');
    }
    &_projects {
      background-image: url('../static/img/roundMenu/projects.svg');
    }
    &_technologies {
      background-image: url('../static/img/roundMenu/technologies.svg');
    }
    &_contacts {
      background-image: url('../static/img/roundMenu/contacts.svg');
    }
  }

  &_visibility {
    &_on {
      background-image: url('../static/icons/visibility_on.svg');
    }
    &_off {
      background-image: url('../static/icons/visibility_off.svg');
    }
  }

  &_prev {
    background-image: url('../static/icons/prev.svg');
    margin-right: 3px;
  }
  &_next {
    background-image: url('../static/icons/next.svg');
    margin-left: 3px;
  }

  &_social {
    &_telegram {
      background-image: url('../static/icons/social/telegram.svg');
    }
    &_whatsapp {
      background-image: url('../static/icons/social/whatsapp.svg');
    }
  }

  &_sandwich {
    background-image: url('../static/icons/sandwich.svg');
  }
}

@mixin bg-size($size) {
  &_bg-size_#{$size} {
    background-size: (#{$size}px);
  }
}

@mixin size($size) {
  &_size_#{$size} {
    width: (#{$size}px);
    height: (#{$size}px);
  }
}

@for $i from 8 to 64 {
  .icon {
    @include size($i);
    @include bg-size($i);
  }
}