@import "./vars.scss";
@import "./icons.scss";
@import "./mixins.scss";
@import "./fonts.scss";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 970px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 605px) {
  html {
    font-size: 12px;
  }
}