@mixin no-scrollbar () {
  ::-webkit-scrollbar {
    display: none;
  }
}

@mixin no-select() {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin pseudo() {
  content: '';
  display: block;
  position: absolute;
}

//TODO create mixin or create new css for similar rules
.bg_color_black_07 {
  background-color: rgba(0,0,0, 0.7);
}