.app {
  text-align: center;

  &__header {
    position: fixed;
    left: 0;
    top: 0;
    height: 60px; //TODO css vars
    width: 100vw;
    color: white;
    background-color: #222;
    display: flex;
    z-index: 11;
  }

  &__body {
    margin: auto;

  }
}

@media screen and (max-width: 1024px) { /* Ipad */
  div.app__header {
    z-index: 100;
  }
}