@media screen and (max-width: 1030px) {
  .show-panel__title {
    font-size: 28px !important;
  }
  .show-panel__desc {
    font-size: 20px !important;
  }
}

@media screen and (max-device-width: 768px) {
  .features__tagline {
    font-size: 22px !important;
  }
  .show-panel__sub-tabline {
    font-size: 18px !important;
  }
}


.features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  background-color: #06121c;
  font-size: 22px;
  color: white;
  padding: 60px 50px 10px 0;

  &_mobile {
    background: black;
  }

  &__title {
    color: white;
    font-size: 48px;
    margin: 20px 40px;
    text-align: left;
    font-weight: 300;
    flex: 0 0 60px;
    z-index: 2;
  }

  &__tagline {
    max-width: 80%;
    text-align: left;
    color: white;
    font-family: Oswald;
    font-size: 36px;
    text-transform: uppercase;

    position: relative;
    left: -750px;
    transition: .4s all;

    &_mobile {
      font-size: 2rem;
    }
  }
  &__sub-tagline {
    max-width: 80%;
    text-align: left;
    font-weight: 300;
    color: white;
    font-size: 26px;
    opacity: 0;
    transition: .4s all;
    &_mobile {
      font-size: 1.6rem;
    }
  }

  &__tagline-container {
    padding: 10px 10px 20px 40px;
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../../../../static/img/back/features.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    z-index: 1;
    opacity: 0.05;

    &_mobile {
      background: black;
    }
  }

  &__content {
    z-index: 11; //TODO should be 2, fix only for react-intense
    flex-wrap: wrap;
  }


  &.slide_active {
    .show-panel__legend {
      margin-right: 0;
      opacity: 1;
    }

    .features {
      &__tagline {
        left: 0;
        transition-delay: .6s;
      }

      &__sub-tagline {
        transition-delay: 1.2s;
        opacity: 1;
        text-shadow: none;
      }
    }
  }
}


@media screen and (max-height: 700px) {
  .show-panel {
    font-size: 16px;
  }
}

.show-panel {
  padding: 35px 15px 15px;
  margin-bottom: 25px !important;
  min-width: 8em;
  max-width: 20em;
  overflow: visible !important;

  &__legend {
    margin-top: 15px;
    opacity: 0;

    transition: .25s all;
    transition-delay: .6s;

  }
  &__title {
    flex: 0 0 auto;
    margin-bottom: 5px;
    font-family: Oswald;
    font-size: 1.8em;
  }
  &__desc {
    flex: 0 0 auto;
    margin-bottom: 25px;
    font-size: 1.2em;
    font-weight: 300;
  }
  &__img {
    flex-grow: 1;
    width: 10em;
    height: 10em;
  }

  .ri-caption-container {
    background-color: rgba(0,0,0, 0.3);
    font-family: Roboto;
  }
}

.img_feature {
  box-shadow: 0 0 24px 3px #c5ecf8 !important;
  border-radius: 3px;
}