@media screen and (max-width: 1030px) {
  .show-panel__title {
    font-size: 28px !important;
  }
  .show-panel__desc {
    font-size: 20px !important;
  }
}


.features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  background-color: #132f3d;
  font-size: 22px;
  color: white;
  padding: 60px 50px 50px 0;

  &__title {
    color: white;
    font-size: 48px;
    margin: 20px 40px;
    text-align: left;
    font-weight: 500;
    flex: 0 0 60px;
    z-index: 2;
  }

  &__show-panel {
    padding: 35px 15px 15px;
    margin-bottom: 25px !important;
    min-width: 480px;
    max-width: 500px;
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../../../../static/img/back/features.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    z-index: 1;
    opacity: 0.05;
  }

  &__content {
    z-index: 11; //TODO should be 2, fix only for react-intense
  }


  &.slide_active {
    .show-panel__legend {
      margin-right: 0;
      opacity: 1;
    }
  }
}

.show-panel {
  margin: 0 40px;
  overflow: visible !important;
  border: 1px solid white;
  &__legend {
    margin-right: -45px;
    margin-top: 15px;
    opacity: 0;

    transition: .25s all;
    transition-delay: .6s;

  }
  &__title {
    flex: 0 0 auto;
    margin-bottom: 5px;
    font-family: Oswald;
    font-size: 36px;
  }
  &__desc {
    flex: 0 0 auto;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 300;
  }
  &__img {
    flex-grow: 1;
    width: 180px;
    height: 180px;
  }

  .ri-caption-container {
    background-color: rgba(0,0,0, 0.3);
    font-family: Roboto;
  }
}

.img_feature {
  box-shadow: 0 0 24px 3px #c5ecf8 !important;
  border-radius: 3px;
}