.ux-photo-slider {
  padding: 0 65px 0 60px;

  //overflow: visible;
  * {
    overflow: visible;
  }

  &__slide {
    position: relative;
    width: 160px !important;
    height: 90px;
    border: 1px solid white;
    opacity: 0.9;
    margin: 10px;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  .slick-arrow {
    border: 1px solid white;
    height: calc(100% + 2px);
    width: 26px;
    top: calc(50% + 11px);
    left: 20px;
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }
  }

  .slick-next {
    left: auto;
    right: 25px;
  }

  //.slick-track {
  //  left: 85px;
  //}

  .slick-list {
    overflow: hidden;
  }

  .ri-container {
    z-index: 11;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}