$main-blue: #307db4;


.ux-btn {
  transition: .3s all;
  position: relative;
  display: inline-flex;
  outline: none !important;
  cursor: pointer;
  text-align: center;
  border-radius: 0;
  font-size: 16px;
  background-color: $main-blue;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  border: 1px solid $main-blue;
  padding: 0.5em 1em 0.4em 1em;
  //&_type_tab {
  //  background-color: inherit;
  //  color: black;
  //  border: none;
  //  border-radius: 0;
  //  font-weight: 400;
  //  font-size: 18px;
  //  //padding: 0.4em 0.8em;
  //  &:hover {
  //    text-shadow: 0 0 8px grey;
  //    opacity: 1 !important;
  //    color: inherit !important;
  //  }
  //}
  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 0.8;
  }
  &_active {
    box-shadow: none;
    font-weight: 700;
    outline: none;
    &::after {
      content: " ";
      display: block;
      position: absolute;
      font-size: 18px;
      width: 24px;
      height: 3px;
      right: calc(50% - 12px);
      top: 37px;
      background-color: transparent;
      z-index: inherit;
    }
  }

  &_alt {
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }

  &__inner-icon {
    width: 16px;
    height: 16px;
    margin-left: 0.5em;
    margin-top: 1px;
  }

  &_empty {
    background-color: transparent;
    color: $main-blue;
    border: 1px solid $main-blue;

    &:hover {
      opacity: 0.7;
    }
    //&:first-child {
    //  padding-left: 0;
    //}
    //
    //&:last-child {
    //  padding-right: 0;
    //}
  }

  &_disabled {
    opacity: 0.5;
    cursor: auto;

    &:hover {
      opacity: 0.5;
    }

    &:focus {
      opacity: 0.5;
    }
  }
}