.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: antiquewhite;
  font-size: 22px;

  &_img {
    &_1 {
      background-image: url('../../../../static/img/projects/house1.jpg');
    }
    &_2 {
      background-image: url('../../../../static/img/projects/house2.jpg');
    }
    &_3 {
      background-image: url('../../../../static/img/projects/house3.jpg');
    }
  }
}