$main-blue: #307db4;
$border-color: #dedede;
$error-color: #ff665f;
$placeholder-color: #5f92a1;

.ux-field {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;

  label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;

    &:after {
      content: "*";
      display: none;
      position: relative;
      color: $error-color;
      margin-left: 4px;
    }
  }

  input {
    border: none;
    margin-bottom: 8px;
    padding-bottom: 3px;
    border-bottom: 1px solid $border-color;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    &:focus {
      margin-bottom: 7px;
      border-width: 2px;
      border-color: $main-blue;
    }

    &::placeholder {
      color: white;
      //font-size: 14px;
    }
  }

  &__error {
    font-size: 14px;
    margin-top: 5px;
    color: $error-color;
    text-align: left;
  }

  &_required {
    label:after {
      display: inline-block !important;
    }
  }

  &_invalid {
    input {
      border-color: $error-color !important;
    }
  }
}