.ux-round-menu {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;


  &__center {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    //border: 1px solid grey;
    background-color: rgba(0,0,0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      color: white;
      font-size: 64px;
      opacity: 1;
      font-family: Oswald;
      letter-spacing: 4px;
    }

    &_fade {
      &_in {
        div {
          transform: scale(0.1, 0.1) !important;
          opacity: 0;
        }
      }
      &_out {
        div{
          opacity: 1;
          font-size: 64px !important;
        }
      }
    }

    &_shadow {
      div {
        //transition-delay: .2s;
        transition-timing-function: cubic-bezier(0.295, 1.650, 0.550, -0.600);
        text-shadow: 0 0 4px #fff, 0 0 24px #86fff6;
      }
    }
  }

  &__item {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .25s all;
    box-shadow: 0 0 4px 1px white inset;

    &:hover {
      box-shadow: 0 0 8px 1px #37dfff;
      transform: scale(1.1, 1.1);
    }
  }
}