.header-menu {
  position: relative;
  background-color: black;
  opacity: 0.85;
  transition: .5s;
  &_transparent {
    background-color: transparent !important;
  }

  &__options-container_vertical {
    position: fixed !important;
    left: 0;
    top: 60px;
    background-color: rgba(0,0,0,1);
    z-index: 100;

    transition: 0.3s all;

    > * {
      border-top: 1px solid white;
      padding: 15px 20px;
      margin: 0 !important;
      text-align: right;
      cursor: pointer;
      font-size: 28px;
      font-weight: 400 !important;
    }
  }

  &_hidden {
    left: 100%;
  }

  &__logo {
    //animation: App-logo-spin infinite 20s linear;
    height: 60px;
    width: 60px;
    margin-top: 8px;
  }
  &__title {
    position: absolute;
    left: 60px;
    top: 7px;
    display: flex;
    font-size: 28px;
    font-family: Oswald;

    transition: .5s all;
  }
  &__item {
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.6s all;
    opacity: 1;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }

    &_active {
      text-shadow: 0 0 4px #fff, 0 0 24px #30ccdf;
    }
  }

}