.header-menu {
  position: relative;
  background-color: black;
  opacity: 0.85;
  transition: .5s;
  z-index: 100;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  &_transparent {
    background-color: transparent !important;
  }

  &_mobile {
    opacity: 0.95;
    z-index: 100;

    img.header-menu__logo, div.header-menu__title {
      z-index: 110;
    }
  }
  &__options-container {
    margin-right: 17px;
  }
  &__options-container_vertical {
    position: fixed !important;
    margin-right: 0;
    left: 0;
    top: 0;
    height: 100vh !important;
    background-color: rgba(0,0,0,1);
    z-index: 100;

    transition: 0.3s all;

    > * {
      padding: 15px 20px;
      margin: 0 !important;
      text-align: right;
      cursor: pointer;
      font-size: 28px;
      font-weight: 400 !important;
      position: relative;

      &:last-child {
        &:after {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          top: 100%;
          left: 0;
          background: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 0.8),  rgba(255,255,255, 1))
        }
      }

      &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 0.8),  rgba(255,255,255, 1))
      }
    }
  }

  &_hidden {
    left: 100%;
  }

  &__logo {
    //animation: App-logo-spin infinite 20s linear;
    height: 60px;
    width: 60px;
    margin-top: 8px;
  }
  &__title {
    position: absolute;
    left: 60px;
    top: 7px;
    display: flex;
    font-size: 28px;
    font-family: Oswald;

    transition: .5s all;
  }
  &__item {
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.6s all;
    opacity: 1;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }

    &_active {
      text-shadow: 0 0 4px #fff, 0 0 24px #30ccdf;
    }
  }
}

@media screen and (max-width: 1024px) { /* Для малой высоты */
  .header-menu {
    background-color: #222 !important;
  }
}

@media screen and (orientation: landscape) and (max-device-height: 500px) {
  .header-menu {
    background-color: transparent !important;
    img {
      visibility: hidden;
    }
    &__title {
      visibility: hidden;
    }

    .icon {
      background-size: 22px;
      width: 48px;
      height: 48px;
      background-color: rgba(100,100,100, 0.4);
      border-radius: 50%;
      margin-right: -12px;
    }
  }
}