
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
  background-image:
          radial-gradient(farthest-side at 80% 100px, #effacf, #02576e);
  font-size: 22px;
  padding-top: 60px;

  &__title {
    color: white;
    font-size: 48px;
    margin: 20px 40px;
    text-align: left;
    font-weight: 500;
  }

  &__back-form-wrap {
    padding: 0 40px;
    align-items: flex-start !important;
  }

  &__back-form {
    color: white;
    border: 1px solid white;
    height: auto !important;
    width: 300px !important;
    padding: 20px 30px 30px;

    .contact-form {
      &__title {
        text-align: left;
      }
    }

    .ux-field {
      input {
        color: white !important;
        &:focus {
          border-color: white;
        }
      }
    }
  }

  &__company-data {
    border-top: 1px solid #696969;
    border-bottom: 1px solid #696969;
  }
  &__phone {
    font-size: 48px;
    margin: 15px 0 0 0;
    color: #201844;
  }

  &__email {
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #201844;
    text-decoration: underline;
    font-family: Oswald;
    letter-spacing: 1px;
  }
  &__address {
    font-size: 28px;
    margin-top: 15px;
    color: #201844;
  }

  &__social-data {
    flex: 0 0 200px !important;
  }

  &__info-desc {
    padding: 10px 15px 0 15px;
    color: white;
  }
    &__info-section {
      p {
        margin: 0;
      }
      div {
        > div {
          border-radius: 5px;
          margin-right: 10px;
        }
      }
    }

  &__footer {
    flex: 0 0 120px !important;
    border-top: 1px solid white;
    box-sizing: border-box;
    * {
      box-sizing: border-box;
    }
  }
}