.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image:
          radial-gradient(farthest-side at 80% 100px, #effacf, #02576e);
  font-size: 22px;
  padding-top: 60px;

}